@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

//Color palette variables:
// $firstColor: #FFF;
$firstColor: #F5F5F5;
// $secondColor: #19E9E0;
$secondColor: #44cdd5;
// $thirdColor: #A64AC9;
$thirdColor: #614bc3;
// $fourthColor: #000;
$fourthColor: #212529;
$fifthColor: #6C757D;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $firstColor;
  color: $fourthColor;
  font-family: "Space Grotesk";
  overflow-y: scroll;
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 2.5rem;
}

.container {
  padding: 0em; 
  max-width: 80% !important;
}

.navbar {
  background-color: $firstColor !important;
  padding: 30px 0px !important;
  a {
    font-weight: 600;
    // color: $firstColor !important;
  }
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  
  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);      
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}

#nav-header {
  border-bottom: 1px solid $firstColor !important;
}

#nav-container {
  height: 3.5rem;
}

.divider {
  background: $thirdColor;
  color: $thirdColor;
  margin: 0px;
  max-width: 80%;
  height: 4px;
  margin: 0 auto;
  opacity: 1;
}

.title-link {
  text-decoration: none !important;
}

.title-post-resume a {
  color: $fourthColor !important;
}

.text-justify {
  margin-top: 35px !important;
}

.text-final {
  margin-top: 45px !important;
}

.post {
  padding-top: 3rem!important;
  height: 100%;
  padding-bottom: 6em;
}

#content .py-2 {
  padding-top: 1.5rem!important;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #F39237;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  p {
    display: inline;
  }
}

.highlight pre {
  border: 1px solid;
  border-radius: .25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

#search-input {
  margin: 2em 0em;
  width: 100%;
}

input {
  font-family: "Space Grotesk" !important;
}

.post .text-secondary {
  margin-bottom: 8px !important;
  color: $fifthColor;
  font-weight: bold;
}

.row .previous, .row .next {
  font-size: 20px;
  text-align: right;
  a {
    color: $fourthColor !important;
  }
}

.previous {
  text-align: left !important;
}

#post {
  flex-grow: 1;
  position: relative;
}

#posts-navigation {
  padding-bottom: 1.5rem;
  bottom: 0;
}

#site-footer {
  color: $fourthColor !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

a.badge {
  color: $firstColor;
  background-color: $thirdColor;
  text-decoration: none;
}

.back {
  margin-top: 45px !important;
  font-size: 30px;
  color: $thirdColor;
  border-radius: 10px;
  border: 2px solid $thirdColor;
  padding: 1px 10px;
}

#share-links ul {
  list-style-type: none;
  padding-left: 0px;
  li {
    padding-top: 5px;
    padding-bottom: 5px;
    a {
      text-decoration: none;
    }
  }
}

/* Effects */

#category-badge a:hover, #category-badge a:focus, #category-badge a:active {
  color: $firstColor;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h1 > .underline {
  text-decoration: none;
  box-shadow: inset 0 -19px 0 $secondColor, 0 0px 0 $secondColor;
  transition: box-shadow .3s;
  color: inherit;
  overflow: hidden;
  // font-size: 2rem;
}

a > .underline {
  text-decoration: none;
  box-shadow: inset 0 -14px 0 $secondColor, 0 0px 0 $secondColor;
  transition: box-shadow .3s;
  color: inherit;
  overflow: hidden;
}

.underline:hover {
  box-shadow: inset 0 -45px 0 $secondColor, 0 0px 0 $secondColor;
}