@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
  overflow-y: overlay
}

body {
  background-color: #fdfdfd;
  font-family: "Nunito" !important;
}

.navbar {
  background-color: #8792A3 !important;
  a {
    //color: #6f777d !important;
    font-weight: 600;
  }
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  
  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);      
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}

#nav-header {
  border-bottom: 1px solid #e9ecef !important;
}

#nav-container {
  height: 3.5rem;
}

.title-post-resume a {
  color: #2F343D !important;
}

div#content.text-justify {
  margin-top: 35px !important;
}

.post {
  padding-top: 3rem!important;
}

.posts-list {
  padding-top: 1.5rem!important;
}

#content .py-2 {
  padding-top: 1.5rem!important;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #5B6B84;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  p {
    display: inline;
  }
}

.highlight pre {
  border: 1px solid;
  border-radius: .25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

.post .text-secondary {
  margin-bottom: 8px !important;
}

.row .previous, .row .next {
  font-size: 25px;
  a {
    color: #6f777d !important;
  }
}

#site-footer {
  padding-top: 60px !important;
  color: #6f777d !important;
}

/* Categories: Effect */

#category-badge a:hover, #category-badge a:focus, #category-badge a:active {
  color: #fff;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.badge-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}