---
layout: default
permalink: /categories/
title: Categories
---
<article class="post">
  <h1 class="h1 category-title">Categories</h1>
  <div class="posts">
    {% for category in site.categories %}
    <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div id="#{{ category_name | slugize }}"></div>
      <p></p>
      <h3 style='color:white !important;'><a class="badge badge-{{ category_name }}">{{ category_name }}</a></h3>
      <a name="{{ category_name | slugize }}"></a>
      {% for post in site.categories[category_name] %}
      <article class="archive-item">
        <p class="text-justify"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></p>
      </article>
      {% endfor %}
    </div>
{% endfor %}
  </div>
</article>